body, h1, h2, p {
    margin: 0;
    padding: 0;
  }

  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fff;
  }
  

 .img{
    max-width: 100;
    height: 200px;
    display:block;

 }


.footer-header-text{
    color: black;
}
    
  header {
    background-color:beige;
    color:black;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
 
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  
  #account-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  
  #account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

  #account-info h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  #account-info p {
    font-weight: bold;
  }
  
  
  #account-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #account-nav ul {
    list-style: none;
  }
  
  #account-nav ul li {
    margin: 10px 0;
  }
  
  #account-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
 
  footer {
    background-color:beige;
    color:#333;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  #social-icons li {
    list-style: none;
    display: inline;
    margin-right: 20px;
  }

  @media only screen and (min-width: 600px) {
   
    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

  
    .navbar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }


    #ham, .fa-magnifying-glass {
        display: none;
    }

   
    .flex-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    
    .flex-section img {
        width: 50%;
    }

    
    .flex-section section {
        padding: 1rem;
        width: 40%;
        align-self: center;
    }

  
    .right img {
        order: 1;
    }
}
  
  



 
  