
*{
  box-sizing: border-box;
}

#grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

body {
  font-family: Arial, sans-serif;
  background-color:#fff;
}

header{
  background-color: grey;
  color: #fff;
  display: grid;
  grid-area: header;
  align-items: center;
  position: relative;
}

main {
  display: grid;
  grid-area: main;
  align-items: center;
}

li {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

footer{
  background-color: grey;
  color: #fff;
  text-align: center;
  grid-area: footer;
  display: grid;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.footer-socials{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-flex{
  max-width: 300px;
  width: 100%;
  min-width: 200px;
}

.img {
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.button:hover {
  background-color: black;
  color: white;
}

#logo {
  color: black;
  font-weight: 1000;
  text-decoration: underline;
  padding: 2rem 2rem 2rem 2rem;
  border: 2px solid white;
}

.main-titles {
  text-align: center;
  border: 1px solid black;
}

#free-shipping {
  margin: 1rem;
  padding: 1rem;
  color: black;
  text-decoration: underline;
  align-items: self-end;
  font-size: medium;
  text-align: center;
  border: 1px outset black;
}

.sub-titles{
  text-align: center;
}

.top-main{
  text-align: center;

}

@media only screen and (min-width: 600px) {
  #grid-container{
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
}

.top-main{
  text-align: center;
  
}