
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#fff;
}

.logo a{
  text-decoration: none;
  color: black;
}

header{
 display: flex;
 color:black;
 text-align: left;
 height: ;
}

#header-grid{
  z-index: 10;
  background-image: linear-gradient(to right, #ffffff, #e9e9e9);
  position: sticky;
  top: 0;
  display: grid;
  gap: 1rem;
  grid-template-areas: "site-logo main-navigation";
  border-bottom: transparent;
  box-shadow: 0px 5px 15px rgb(202, 201, 201);
  border-bottom-width: initial;
  border-bottom-style: initial;
}

#navigation{
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;

}

#navigation ul li{
  list-style: none;

}

#icon-navigation{

}

.text{

}

#icons{
  height: 32px;
  width: 32px;
}


.container{
text-align: right;
font-size: 30px;
display: flex;
flex-direction: column;

#icon-navigation{
  grid-area: icon-navigation;
}


}

nav ul{
display: flex;
list-style: none;
margin: 0;
padding: 0;
justify-content: space-around;
}

nav a{
  color:black;
  padding: 0.5em;
  text-decoration: solid;
  text-transform: uppercase;
  text-shadow: #fff;
  text-decoration-line: underline;
  font-style: inherit;
}

nav a:hover,
nav a:focus { 
 color:blueviolet;
 text-decoration: underline;
}


 
#search_bar{

}



.shipping-title{

}



.intro{

}

.main-picture{
  max-width: 200px;
    height: 300px;
    display:block;
    margin: auto;
}

.banner-text{
  position: absolute;
  top: 0;
  color:black;
  text-align: center;
  padding: 10px;
  background-image: url(img/54448fdfe921670193384716a3f7b6eebeacd0e1-1080x720.jpg);
}

.shoes-picture{
  margin: 20px;
  
}

.btn-group{

}

.footer{

}

.footer-socials{

}
 
