
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#fff;
}

.logo a{
  text-decoration: none;
  color: black;
}

header{
  background-color: grey;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#header-grid{
  z-index: 10;
  background-image: linear-gradient(to right, #ffffff, #e9e9e9);
  position: sticky;
  top: 0;
  display: grid;
  gap: 1rem;
  grid-template-areas: "site-logo main-navigation";
  border-bottom: transparent;
  box-shadow: 0px 5px 15px rgb(202, 201, 201);
  border-bottom-width: initial;
  border-bottom-style: initial;
}

#search_bar{
  margin-top: 10px;
  text-align: center;
}

#search_bar input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container{
text-align: right;
font-size: 30px;
display: flex;
flex-direction: column;
font-size: 24px;
}

.shipping-title{
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  text-decoration:
}

nav{
margin-top: 10px;
}

nav ul{
display: flex;
list-style: none;
margin: 0;
padding: 0;
justify-content: space-around;
}

nav li {
  margin: 0 15px;
}

nav a{
  color:black;
  padding: 0.5em;
  text-decoration: solid;
  text-transform: uppercase;
  text-shadow: #fff;
  text-decoration-line: underline;
  font-style: inherit;
}

nav a:hover,
nav a:focus { 
 color:white;
 text-decoration: underline;
}



.shipping-title{

}



.intro{

}

.main-picture{
  max-width: 200px;
    height: 300px;
    display:block;
    margin: auto;
}

.banner-text{
  position: absolute;
  top: 0;
  color:black;
  text-align: center;
  padding: 10px;
  background-image: url(img/54448fdfe921670193384716a3f7b6eebeacd0e1-1080x720.jpg);
}

.banner{
  margin: 0;
  padding: 8;
  background-image: url('img/190905164157-the-realreal-consignment-shop-in-soho.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  font-family: 'Arial', sans-serif;
  text-decoration:bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.banner i {
  margin-right: 8px;
}

.banner:hover,
.bannner:focus {
 color:white;
 text-decoration: underline;
}

#button-sale-shop-now{
  background-color: beige; /
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:
}

*{
  box-sizing: border-box;
}

#grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,auto);
}

.flex-sb{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
.flex-sb article {
  flex-basis: 50%;
  margin: 1rem auto;
  text-align: center;
}
.flex-sb article img {
  width: 80%;
}


.shoes-picture{
  margin: 20px;
  
}

.btn-group{

}

.footer{

}

.footer-socials{

}
 
